# FastAPI y Servidor ASGI
fastapi==0.101.1
uvicorn[standard]==0.23.2

# Cliente HTTP Asíncrono y Síncrono (Web Scraping/Peticiones)
requests==2.32.3
httpx==0.27.2
aiohttp==3.10.5

# Extracción y Procesamiento de Texto (Web Scraping)
beautifulsoup4==4.12.2
readability-lxml

# Base de Datos MongoDB (Asíncrono)
motor==3.5.1
pymongo<4.9

# Sistemas de Mensajería (Kafka)
aiokafka==0.12.0
kafka-python==2.1.2

# Utilidades
pydantic==2.7.1
python-dotenv==1.0.1
loguru==0.7.2
base58==2.1.1

# Web3 / Blockchain
web3==6.20.4
eth-account==0.9.0