node_modules
artifacts
cache
ignition/deployments/chain-12345/journal.jsonl
ignition/deployments/chain-12345/build-info/56172074225d99cafa008427fb3ce358.json
api/generateAsertions/venv/*
api/generateAsertions/__pycache__/main.cpython-312.pyc
api/ipfs/venv/*
api/ipfs/__pycache__/main.cpython-312.pyc
api/validateAsertions/venv/*
api/generate-asertions/venv/*
api/validate-asertions/venv/*
api/generate-asertions/.env
api/validate-asertions/.env
.env
api/generateAsertions/__pycache__/*
api/validate-asertions/__pycache__/*
api/kafka/kafka_server_jaas.conf
api/couchdb/init-couchdb.sh
volumes/ipfs_data/*
volumes/mongo/data/*
api/tests/venv/*
volumes/*
.gitignore
ethereum/password.txt
api/validate-asertions/.env_gemini
api/validate-asertions/.env_mistral
api/validate-asertions/.env_openrouter
api/tests/__pycache__/*
api/generate-asertions/__pycache__/*
api/mongo/mongo.txt
blockchain/geth-client/setup.txt
accounts/*

news.txt
blockchain/setup.txt
