
services:
  # -------------------------
  # IPFS
  # -------------------------
  ipfs:
    image: ipfs/go-ipfs:latest
    container_name: ipfs
    ports:
      - "5001:5001" # API
      - "8080:8080" # Gateway
      - "4001:4001" # Swarm
    volumes:
      - ./volumes/ipfs_data:/data/ipfs

  # -------------------------
  # IPFS FastAPI
  # -------------------------
  ipfs-fastapi:
    build: ./api/ipfs
    container_name: ipfs-fastapi
    ports:
      - "8060:8060"
    env_file:
      - ./api/ipfs/.env
    depends_on:
      - ipfs

  # -------------------------
  # generate-asertions API
  # -------------------------
  generate-asertions:
    build: ./api/generate-asertions
    container_name: generate-asertions
    ports:
      - "8071:8071"
    env_file:
      - ./api/generate-asertions/.env
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs
      - ipfs-fastapi
      - kafka

  # -------------------------
  # validate-asertions API MAIN
  # -------------------------
  validate-asertions-worker_1:
    build: ./api/validate-asertions
    container_name: validate-asertions-worker_1
    ports:
      - "8070:8070"
    env_file:
      - ./api/validate-asertions/.env
    environment:
      - ENABLE_KAFKA_CONSUMER = "true"
      - ACCOUNT_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8           
      - PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d                      
    depends_on:
      - ipfs
      - ipfs-fastapi
  
  # -------------------------
  # validate-asertions API WORKER 2
  # -------------------------
  validate-asertions-worker_2:
    build: ./api/validate-asertions
    container_name: validate-asertions-worker_2
    ports:
      - "8069:8070"
    env_file:
      - ./api/validate-asertions/.env
    environment:
      - ENABLE_KAFKA_CONSUMER = "false"
      - ACCOUNT_ADDRESS=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC           
      - PRIVATE_KEY=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a  
    depends_on:
      - ipfs
      - ipfs-fastapi
  
  # -------------------------
  # validate-asertions API WORKER 3
  # -------------------------
  validate-asertions-worker_3:
    build: ./api/validate-asertions
    container_name: validate-asertions-worker_3
    ports:
      - "8068:8070"
    env_file:
      - ./api/validate-asertions/.env
    environment:
      - ENABLE_KAFKA_CONSUMER = "false"
      - ACCOUNT_ADDRESS=0x90F79bf6EB2c4f870365E785982E1f101E93b906           
      - PRIVATE_KEY=0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6 
    depends_on:
      - ipfs
      - ipfs-fastapi
  # -------------------------
  # Zookeeper
  # -------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    env_file:
      - ./api/kafka/.env.zookeeper
    volumes:
      - ./volumes/zookeeper_data:/var/lib/zookeeper

  # -------------------------
  # Kafka (SASL/PLAIN)
  # -------------------------
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    ports:
      - "9092:9092"   # Para otros contenedores
      - "9093:9093"   # Para tu host
    depends_on:
      - zookeeper
    env_file:
      - ./api/kafka/.env.kafka
    volumes:
      - ./volumes/kafka_data:/var/lib/kafka
      - ./api/kafka/kafka_server_jaas.conf:/etc/kafka/secrets/kafka_server_jaas.conf:ro
      - ./api/kafka/log4j.properties:/etc/kafka/secrets/log4j.properties:ro
    environment:
      KAFKA_LOG4J_OPTS: "-Dlog4j.configuration=file:/etc/kafka/secrets/log4j.properties"
  # -------------------------
  # Control Center
  # -------------------------
  control-center:
    image: confluentinc/cp-enterprise-control-center:7.6.1
    container_name: control-center
    ports:
      - "9021:9021"
    env_file:
      - ./api/kafka/.env.controlcenter
    depends_on:
      - zookeeper
      - kafka
    volumes:
      - ./api/kafka/control-center-log4j.properties:/etc/confluent-control-center/secrets/log4j.properties:ro
    environment:
      CONTROL_CENTER_LOG4J_OPTS: "-Dlog4j.configuration=file:/etc/confluent-control-center/secrets/log4j.properties"


  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    env_file:
      - ./api/mongo/.env
    volumes:
      - ./volumes/mongo/data/db:/data/db



  # -------------------------
  # News Handler
  # -------------------------
  news-handler:
    build: ./api/news-handler
    container_name: news-handler
    depends_on:
      - kafka
      - mongodb
    env_file:
      - ./api/news-handler/.env
    ports:
      - "8072:8072"
    command: uvicorn main:app --host 0.0.0.0 --port 8072
    volumes:
      - ./api/news-handler:/app

  # -------------------------
  # News Handler
  # -------------------------
  news-chain:
    build: ./api/news-chain
    container_name: news-chain
    depends_on:
      - kafka
      - mongodb
    env_file:
      - ./api/news-chain/.env
    ports:
      - "8073:8073"
    command: uvicorn main:app --host 0.0.0.0 --port 8073
    volumes:
      - ./api/news-chain:/app

 
  test:
    build: ./api/news-handler 
    command: python ./api/tests/test_kafka.py
    environment:
      KAFKA_BOOTSTRAP: kafka:9092
    depends_on:
      - generate-asertions
      - kafka

