version: "3.9"

services:
  geth-bootnode:
    container_name: geth-bootnode-container
    hostname: geth-bootnode
    image: ethereum/client-go:v1.10.1
    env_file:
      - .env
    volumes:
      - ./volumes/bootnode:/root/.ethereum
    command:
      - --nodekeyhex=${NODE_KEY_HEX}
      - --nodiscover=false
      - --networkid=${NETWORK_ID}
      - --http=false
      - --ws=false
      - --ipcdisable
      - --mine=false
      - --port=30304
    ports:
      - "30304:30304"
    networks:
      default:

  geth-rpc-endpoint:
    container_name: geth-rpc-container
    hostname: geth-rpc-endpoint
    image: ethereum/client-go:v1.10.1
    depends_on:
      - geth-bootnode
    env_file:
      - .env
    volumes:
      - ./volumes/rpc:/root/.ethereum
    command:
      - --bootnodes=${BOOT_NODES}
      - --allow-insecure-unlock
      - --http
      - --http.addr=0.0.0.0
      - --http.port=8555
      - --http.api=eth,web3,net,admin,personal
      - --http.corsdomain=*
      - --http.vhosts=*          
      - --ws
      - --ws.addr=0.0.0.0
      - --ws.port=8556
      - --ws.api=eth,web3,net,admin,personal
      - --networkid=${NETWORK_ID}
      - --unlock=${MASTER_PUBLIC_KEY}
      - --password=/root/.ethereum/password.txt
      - --port=30303
      - --miner.gaslimit=${GAS_LIMIT}
      #- --mine
    ports:
      - "8555:8555"
      - "8556:8556"
      - "30303:30303"
    networks:
      default:

  geth-miner:
    container_name: geth-miner-container
    hostname: geth-miner
    image: ethereum/client-go:v1.10.1
    depends_on:
      - geth-bootnode
    env_file:
      - .env
    volumes:
      - ./volumes/miner:/root/.ethereum
    command:
      - --bootnodes=${BOOT_NODES}
      - --mine
      - --miner.threads=1
      - --networkid=${NETWORK_ID}
      - --unlock=${MASTER_PUBLIC_KEY}
      - --password=/root/.ethereum/password.txt
      - --miner.etherbase=${MASTER_PUBLIC_KEY}
      - --http
      - --http.addr=0.0.0.0
      - --http.port=8557
      - --http.api=eth,web3,net,admin,personal
      - --allow-insecure-unlock
      - --port=30305
      - --miner.gaslimit=${GAS_LIMIT}
    ports:
      - "30305:30305"
      - "8557:8557"
    networks:
      default:

networks:
  default:
    name: tfm_network
