version: '3.8'


x-global-environment: &global-env
  #RPC_URL: http://172.17.0.1:8545 #Hardhat
  #CONTRACT_ADDRESS: 0x5FbDB2315678afecb367f032d93F642f64180aa3 #Hardhat
  RPC_URL: http://geth-rpc-endpoint:8555 # Geth Private Network
  CONTRACT_ADDRESS: 0x9eA62eb7944349C407B307025644E47bF22F8bCc  # Geth Private Network
  CONTRACT_ABI_PATH: deployments/TrustNews.json

services:
  # -------------------------
  # IPFS FastAPI
  # -------------------------
  ipfs-fastapi:
    build: 
      context: ./api  
      dockerfile: ./ipfs/Dockerfile 
    container_name: ipfs-fastapi
    ports:
      - "8060:8060"
    env_file:
      - ./api/ipfs/.env


  # -------------------------
  # Generate Asertions API
  # -------------------------
  generate-asertions:
    build: 
      context: ./api  
      dockerfile: ./generate-asertions/Dockerfile
    container_name: generate-asertions
    ports:
      - "8071:8071"
    env_file:
      - ./api/generate-asertions/.env
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs-fastapi


  # -------------------------
  # Validate Asertions Workers
  # -------------------------
  validate-asertions-worker_1:
    build: 
      context: ./api  
      dockerfile: ./validate-asertions/Dockerfile 
    container_name: validate-asertions-worker_1
    ports:
      - "8070:8070"
    env_file:
      - ./api/validate-asertions/.env_openrouter1
    environment:
      <<: *global-env

    depends_on:
      - ipfs-fastapi
    volumes:
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  validate-asertions-worker_2:
    build: 
      context: ./api  
      dockerfile: ./validate-asertions/Dockerfile 
    container_name: validate-asertions-worker_2
    ports:
      - "8069:8070"
    env_file:
      - ./api/validate-asertions/.env_openrouter2
    environment:
      <<: *global-env

    depends_on:
      - ipfs-fastapi
    volumes:
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  validate-asertions-worker_3:
    build: 
      context: ./api  
      dockerfile: ./validate-asertions/Dockerfile 
    container_name: validate-asertions-worker_3
    ports:
      - "8068:8070"
    env_file:
      - ./api/validate-asertions/.env_openrouter3
    environment:
      <<: *global-env

    depends_on:
      - ipfs-fastapi
    volumes:
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  # -------------------------
  # News Handler
  # -------------------------
  news-handler:
    build: 
      context: ./api  
      dockerfile: ./news-handler/Dockerfile 
    container_name: news-handler
    ports:
      - "8072:8072"
    env_file:
      - ./api/news-handler/.env
    environment:
      <<: *global-env
    command: uvicorn main:app --host 0.0.0.0 --port 8072
    volumes:
      - ./api/news-handler:/app
      - ./api/common:/app/common

  # -------------------------
  # News Chain
  # -------------------------
  news-chain:
    build:
      context: ./api  
      dockerfile: ./news-chain/Dockerfile
    container_name: news-chain
    ports:
      - "8073:8073"
    env_file:
      - ./api/news-chain/.env
    environment:
      <<: *global-env
    command: uvicorn main:app --host 0.0.0.0 --port 8073
    volumes:
      - ./api/news-chain:/app
      - ./api/common:/app/common
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  frontend-web_classic:
    build: ./web_classic
    container_name: trustnews-frontend_classic
    ports:
      - "8000:80"
      - "8443:443"
    depends_on:
      - news-handler
    environment:
      - API_BASE_URL=https://localhost:8443/api
    volumes:
      - ./web_classic/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./web_classic/certs:/etc/nginx/certs:ro

  
networks:
  default:
    name: tfm_network
