version: '3.8'

services:
  # -------------------------
  # IPFS FastAPI
  # -------------------------
  ipfs-fastapi:
    build: ./api/ipfs
    container_name: ipfs-fastapi
    ports:
      - "8060:8060"
    env_file:
      - ./api/ipfs/.env


  # -------------------------
  # Generate Asertions API
  # -------------------------
  generate-asertions:
    build: ./api/generate-asertions
    container_name: generate-asertions
    ports:
      - "8071:8071"
    env_file:
      - ./api/generate-asertions/.env
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs-fastapi


  # -------------------------
  # Validate Asertions Workers
  # -------------------------
  validate-asertions-worker_1:
    build: ./api/validate-asertions
    container_name: validate-asertions-worker_1
    ports:
      - "8070:8070"
    env_file:
      - ./api/validate-asertions/.env
    environment:
      - ENABLE_KAFKA_CONSUMER=true
      #- ACCOUNT_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
      - ACCOUNT_ADDRESS=VAL1
      - CONTRACT_ADDRESS=0x00
      - PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
    depends_on:
      - ipfs-fastapi

  validate-asertions-worker_2:
    build: ./api/validate-asertions
    container_name: validate-asertions-worker_2
    ports:
      - "8069:8070"
    env_file:
      - ./api/validate-asertions/.env
    environment:
      - ENABLE_KAFKA_CONSUMER=true
      #- ACCOUNT_ADDRESS=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC
      - ACCOUNT_ADDRESS=VAL2
      - CONTRACT_ADDRESS=0x00
      - PRIVATE_KEY=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a
    depends_on:
      - ipfs-fastapi

  validate-asertions-worker_3:
    build: ./api/validate-asertions
    container_name: validate-asertions-worker_3
    ports:
      - "8068:8070"
    env_file:
      - ./api/validate-asertions/.env
    environment:
      - ENABLE_KAFKA_CONSUMER=false
      - ACCOUNT_ADDRESS=VAL3
      - CONTRACT_ADDRESS=0x00
      - PRIVATE_KEY=0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6
    depends_on:
      - ipfs-fastapi

  # -------------------------
  # News Handler
  # -------------------------
  news-handler:
    build: ./api/news-handler
    container_name: news-handler
    ports:
      - "8072:8072"
    env_file:
      - ./api/news-handler/.env
    command: uvicorn main:app --host 0.0.0.0 --port 8072
    volumes:
      - ./api/news-handler:/app

  # -------------------------
  # News Chain
  # -------------------------
  news-chain:
    build: ./api/news-chain
    container_name: news-chain
    ports:
      - "8073:8073"
    env_file:
      - ./api/news-chain/.env
    command: uvicorn main:app --host 0.0.0.0 --port 8073
    volumes:
      - ./api/news-chain:/app
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

networks:
  default:
    name: tfm_network
