version: '3.8'


x-global-environment: &global-env
  CONTRACT_ADDRESS: 0x5FbDB2315678afecb367f032d93F642f64180aa3
  EMULATE_BLOCKCHAIN_REQUESTS: "false"  # true o false
  CONTRACT_ABI_PATH: deployments/TrustNews.json

services:
  # -------------------------
  # IPFS FastAPI
  # -------------------------
  ipfs-fastapi:
    build: ./api/ipfs
    container_name: ipfs-fastapi
    ports:
      - "8060:8060"
    env_file:
      - ./api/ipfs/.env


  # -------------------------
  # Generate Asertions API
  # -------------------------
  generate-asertions:
    build: ./api/generate-asertions
    container_name: generate-asertions
    ports:
      - "8071:8071"
    env_file:
      - ./api/generate-asertions/.env
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs-fastapi


  # -------------------------
  # Validate Asertions Workers
  # -------------------------
  validate-asertions-worker_1:
    build: ./api/validate-asertions
    container_name: validate-asertions-worker_1
    ports:
      - "8070:8070"
    env_file:
      - ./api/validate-asertions/.env_mistral
    environment:
      <<: *global-env
      ENABLE_KAFKA_CONSUMER: "true"
      ACCOUNT_ADDRESS: 0x70997970C51812dc3A010C7d01b50e0d17dc79C8 # Account #1
      PRIVATE_KEY: 0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
      VALIDATOR_CATEGORIES: "[1,2,3,6,10]"
    depends_on:
      - ipfs-fastapi
    volumes:
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  validate-asertions-worker_2:
    build: ./api/validate-asertions
    container_name: validate-asertions-worker_2
    ports:
      - "8069:8070"
    env_file:
      - ./api/validate-asertions/.env_gemini
    environment:
      <<: *global-env
      ENABLE_KAFKA_CONSUMER: "true"
      ACCOUNT_ADDRESS: 0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC # Account #2
      PRIVATE_KEY: 0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a
      VALIDATOR_CATEGORIES: "[1,4,5,6,10]"
    depends_on:
      - ipfs-fastapi
    volumes:
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  #validate-asertions-worker_3:
  #  build: ./api/validate-asertions
  #  container_name: validate-asertions-worker_3
  #  ports:
  #    - "8068:8070"
  #  env_file:
  #    - ./api/validate-asertions/.env_openrouter
  #  environment:
  #    <<: *global-env
  #    ENABLE_KAFKA_CONSUMER: "true"
  #    ACCOUNT_ADDRESS: 0x90F79bf6EB2c4f870365E785982E1f101E93b906 # Account #3
  #    PRIVATE_KEY: 0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6
  #    VALIDATOR_CATEGORIES: "[1,7,8,9,10]"
  #  depends_on:
  #    - ipfs-fastapi
  #  volumes:
  #    - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  # -------------------------
  # News Handler
  # -------------------------
  news-handler:
    build: ./api/news-handler
    container_name: news-handler
    ports:
      - "8072:8072"
    env_file:
      - ./api/news-handler/.env
    environment:
      <<: *global-env
    command: uvicorn main:app --host 0.0.0.0 --port 8072
    volumes:
      - ./api/news-handler:/app

  # -------------------------
  # News Chain
  # -------------------------
  news-chain:
    build: ./api/news-chain
    container_name: news-chain
    ports:
      - "8073:8073"
    env_file:
      - ./api/news-chain/.env
    environment:
      <<: *global-env
    command: uvicorn main:app --host 0.0.0.0 --port 8073
    volumes:
      - ./api/news-chain:/app
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

    # -------------------------
  # Frontend Web
  # -------------------------
  frontend-web_classic:
    build: ./web_classic
    container_name: trustnews-frontend_classic
    ports:
      - "8000:80"
    depends_on:
      - news-handler
    environment:
      - API_BASE_URL=http://news-handler:8072
    volumes:
      - ./web_classic/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  


networks:
  default:
    name: tfm_network
