
services:
  # -------------------------
  # IPFS
  # -------------------------
  ipfs:
    image: ipfs/go-ipfs:latest
    container_name: ipfs
    ports:
      - "5001:5001" # API
      - "8080:8080" # Gateway
      - "4001:4001" # Swarm
    volumes:
      - ./volumes/ipfs_data:/data/ipfs

  # -------------------------
  # IPFS FastAPI
  # -------------------------
  ipfs-fastapi:
    build: ./api/ipfs
    container_name: ipfs-fastapi
    ports:
      - "8060:8060"
    env_file:
      - ./api/ipfs/.env
    depends_on:
      - ipfs

  # -------------------------
  # generate-asertions API
  # -------------------------
  generate-asertions:
    build: ./api/generate-asertions
    container_name: generate-asertions
    ports:
      - "8071:8071"
    env_file:
      - ./api/generate-asertions/.env
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs
      - ipfs-fastapi
      - kafka

  # -------------------------
  # validate-asertions API
  # -------------------------
  validate-asertions:
    build: ./api/validate-asertions
    container_name: validate-asertions
    ports:
      - "8070:8070"
    env_file:
      - ./api/validate-asertions/.env
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs
      - ipfs-fastapi

  # -------------------------
  # Zookeeper
  # -------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    env_file:
      - ./api/kafka/.env.zookeeper
    volumes:
      - ./volumes/zookeeper_data:/var/lib/zookeeper

  # -------------------------
  # Kafka (SASL/PLAIN)
  # -------------------------
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    ports:
      - "9092:9092"   # Para otros contenedores
      - "9093:9093"   # Para tu host
    depends_on:
      - zookeeper
    env_file:
      - ./api/kafka/.env.kafka
    volumes:
      - ./volumes/kafka_data:/var/lib/kafka
      - ./api/kafka/kafka_server_jaas.conf:/etc/kafka/secrets/kafka_server_jaas.conf:ro
      - ./api/kafka/log4j.properties:/etc/kafka/secrets/log4j.properties:ro
    environment:
      KAFKA_LOG4J_OPTS: "-Dlog4j.configuration=file:/etc/kafka/secrets/log4j.properties"
  # -------------------------
  # Control Center
  # -------------------------
  control-center:
    image: confluentinc/cp-enterprise-control-center:7.6.1
    container_name: control-center
    ports:
      - "9021:9021"
    env_file:
      - ./api/kafka/.env.controlcenter
    depends_on:
      - zookeeper
      - kafka
    volumes:
      - ./api/kafka/control-center-log4j.properties:/etc/confluent-control-center/secrets/log4j.properties:ro
    environment:
      CONTROL_CENTER_LOG4J_OPTS: "-Dlog4j.configuration=file:/etc/confluent-control-center/secrets/log4j.properties"


  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    env_file:
      - ./api/mongo/.env
    volumes:
      - ./volumes/mongo/data/db:/data/db



  # -------------------------
  # News Handler
  # -------------------------
  news-handler:
    build: ./api/news-handler
    container_name: news-handler
    depends_on:
      - kafka
      - mongodb
    env_file:
      - ./api/news-handler/.env
    ports:
      - "8072:8072"
    command: uvicorn main:app --host 0.0.0.0 --port 8072
    volumes:
      - ./api/news-handler:/app

  # -------------------------
  # PostgreSQL
  # -------------------------
  #postgres:
  #  image: postgres:15
  #  container_name: postgres
  #  env_file:
  #    - .env
  #  volumes:
  #    - chainlink_db:/var/lib/postgresql/data
  #  ports:
  #    - "5432:5432"
  #  healthcheck:
  #    test: ["CMD-SHELL", "pg_isready -U chainlink -d chainlink"]
  #    interval: 10s
  #    timeout: 5s
  #    retries: 5

  # -------------------------
  # Chainlink Node
  # -------------------------
  #chainlink:
  #  image: smartcontract/chainlink:2.26.0
  #  container_name: chainlink
  #  platform: linux/x86_64/v8

  #  depends_on:
  #    postgres:
  #      condition: service_healthy
  #  command: >
  #    node -config /chainlink/config.toml -secrets /chainlink/secrets.toml  start -a /chainlink/.api
  #  ports:
  #    - "6688:6688"
  #  volumes:
  #    - ~/blockchain/tfm/chainlink:/chainlink
  #  extra_hosts:
  #    - "host.docker.internal:host-gateway"
  test:
    build: ./api/news-handler 
    command: python ./api/tests/test_kafka.py
    environment:
      KAFKA_BOOTSTRAP: kafka:9092
    depends_on:
      - generate-asertions
      - kafka

