version: "3.9"

services:
  # -------------------------
  # IPFS
  # -------------------------
  ipfs:
    image: ipfs/go-ipfs:latest
    container_name: ipfs
    ports:
      - "5001:5001" # API
      - "8080:8080" # Gateway
      - "4001:4001" # Swarm
    volumes:
      - ipfs_data:/data/ipfs

  # -------------------------
  # IPFS FastAPI
  # -------------------------
  ipfs-fastapi:
    build: ./api/ipfs
    container_name: ipfs-fastapi
    ports:
      - "8060:8060"
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs

  # -------------------------
  # generate-asertions API
  # -------------------------
  generate-asertions:
    build: ./api/generate-asertions
    container_name: generate-asertions
    ports:
      - "8071:8071"
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs
      - ipfs-fastapi

  # -------------------------
  # validate-asertions API
  # -------------------------
  validate-asertions:
    build: ./api/validate-asertions
    container_name: validate-asertions
    ports:
      - "8070:8070"
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs
      - ipfs-fastapi

  # -------------------------
  # PostgreSQL
  # -------------------------
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_USER=chainlink
      - POSTGRES_PASSWORD=Cforcadellm1974!
      - POSTGRES_DB=chainlink
    volumes:
      - chainlink_db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chainlink -d chainlink"]
      interval: 10s
      timeout: 5s
      retries: 5

  # -------------------------
  # Chainlink Node
  # -------------------------
  chainlink:
    image: smartcontract/chainlink:2.26.0
    container_name: chainlink
    platform: linux/x86_64/v8
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      node -config /chainlink/config.toml -secrets /chainlink/secrets.toml start
    ports:
      - "6688:6688"
    volumes:
      - ~/blockchain/tfm/chainlink:/chainlink
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  ipfs_data:
  chainlink_db:
  chainlink_data:
