version: '3.8'


x-global-environment: &global-env
  RPC_URL: http://172.17.0.1:8545 #Hardhat
  CONTRACT_ADDRESS: 0x5FbDB2315678afecb367f032d93F642f64180aa3 #Hardhat
  #RPC_URL: http://geth-rpc-endpoint:8555 # Geth Private Network
  #CONTRACT_ADDRESS: 0x92Fb48182a5AB8E6339Ee6F0529fe62dA2B9B72B  # Geth Private Network
  EMULATE_BLOCKCHAIN_REQUESTS: "false"  # true o false
  CONTRACT_ABI_PATH: deployments/TrustNews.json

services:
  # -------------------------
  # IPFS FastAPI
  # -------------------------
  ipfs-fastapi:
    build: 
      context: ./api  
      dockerfile: ./ipfs/Dockerfile 
    container_name: ipfs-fastapi
    ports:
      - "8060:8060"
    env_file:
      - ./api/ipfs/.env


  # -------------------------
  # Generate Asertions API
  # -------------------------
  generate-asertions:
    build: 
      context: ./api  
      dockerfile: ./generate-asertions/Dockerfile
    container_name: generate-asertions
    ports:
      - "8071:8071"
    env_file:
      - ./api/generate-asertions/.env
    environment:
      - IPFS_API_ADD=http://ipfs:5001/api/v0/add
      - IPFS_API_CAT=http://ipfs:5001/api/v0/cat
    depends_on:
      - ipfs-fastapi


  # -------------------------
  # Validate Asertions Workers
  # -------------------------
  validate-asertions-worker_1:
    build: 
      context: ./api  
      dockerfile: ./validate-asertions/Dockerfile 
    container_name: validate-asertions-worker_1
    ports:
      - "8070:8070"
    env_file:
      - ./api/validate-asertions/.env_mistral
    environment:
      <<: *global-env
      ENABLE_KAFKA_CONSUMER: "true"
      ACCOUNT_ADDRESS: 0x70997970C51812dc3A010C7d01b50e0d17dc79C8 # Account #1 HARDHAT
      PRIVATE_KEY: 0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d # Account #1 HARDHAT
      #ACCOUNT_ADDRESS: 0x4504A1d4047583164919AE40C37c4f4c5B854BBb # Account #1 GETH PRIVATE NETWORK
      #PRIVATE_KEY: 0x1d2705bf19efea8d0d362a8f161f097d1d16a8a52a05044c8ccd15642b15809e # Account #1 GETH PRIVATE NETWORK
      VALIDATOR_CATEGORIES: "[1,2,3,4,5,6,7,8,9,10]"
    depends_on:
      - ipfs-fastapi
    volumes:
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  validate-asertions-worker_2:
    build: 
      context: ./api  
      dockerfile: ./validate-asertions/Dockerfile 
    container_name: validate-asertions-worker_2
    ports:
      - "8069:8070"
    env_file:
      - ./api/validate-asertions/.env_gemini
    environment:
      <<: *global-env
      ENABLE_KAFKA_CONSUMER: "true"
      ACCOUNT_ADDRESS: 0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC # Account #2 HARDHAT
      PRIVATE_KEY: 0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a # Account #2 HARDHAT
      #ACCOUNT_ADDRESS: 0x42d488D0393FD1D6b72BB424Db28Dd7eb5E06737 # Account #2 GETH PRIVATE NETWORK
      #PRIVATE_KEY: 0x880a7ab58a6c23a46e868313787dc0521b31701fa75961585e8aa9fe4a6db65a # Account #2 GETH PRIVATE NETWORK
      VALIDATOR_CATEGORIES:  "[1,2,3,4,5,6,7,8,9,10]"
    depends_on:
      - ipfs-fastapi
    volumes:
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  validate-asertions-worker_3:
    build: 
      context: ./api  
      dockerfile: ./validate-asertions/Dockerfile 
    container_name: validate-asertions-worker_3
    ports:
      - "8068:8070"
    env_file:
      - ./api/validate-asertions/.env_openrouter
    environment:
      <<: *global-env
      ENABLE_KAFKA_CONSUMER: "true"
      ACCOUNT_ADDRESS: 0x90F79bf6EB2c4f870365E785982E1f101E93b906 # Account #3 HARDHAT
      PRIVATE_KEY: 0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6 # Account #3 HARDHAT
      #ACCOUNT_ADDRESS: 0xBe794abf86d173ddCfE937c6d8d739BDc4e94165 # Account #3 GETH PRIVATE NETWORK
      #PRIVATE_KEY: 0x47c37f87eb631e85364919bf17dc8859d31cae638d60d7b22da536cb47d93a36 # Account #3 GETH PRIVATE NETWORK
      VALIDATOR_CATEGORIES:  "[1,2,3,4,5,6,7,8,9,10]"
    depends_on:
      - ipfs-fastapi
    volumes:
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

  # -------------------------
  # News Handler
  # -------------------------
  news-handler:
    build: 
      context: ./api  
      dockerfile: ./news-handler/Dockerfile 
    container_name: news-handler
    ports:
      - "8072:8072"
    env_file:
      - ./api/news-handler/.env
    environment:
      <<: *global-env
    command: uvicorn main:app --host 0.0.0.0 --port 8072
    volumes:
      - ./api/news-handler:/app
      - ./api/common:/app/common

  # -------------------------
  # News Chain
  # -------------------------
  news-chain:
    build:
      context: ./api  
      dockerfile: ./news-chain/Dockerfile
    container_name: news-chain
    ports:
      - "8073:8073"
    env_file:
      - ./api/news-chain/.env
    environment:
      <<: *global-env
    command: uvicorn main:app --host 0.0.0.0 --port 8073
    volumes:
      - ./api/news-chain:/app
      - ./api/common:/app/common
      - ./smart-contracts/artifacts/contracts/TrustNews.sol/TrustNews.json:/app/deployments/TrustNews.json

    # -------------------------
  # Frontend Web
  # -------------------------
  frontend-web_classic:
    build: ./web_classic
    container_name: trustnews-frontend_classic
    ports:
      - "8000:80"
    depends_on:
      - news-handler
    environment:
      - API_BASE_URL=http://news-handler:8072
    volumes:
      - ./web_classic/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  


networks:
  default:
    name: tfm_network
