services:
  geth-bootnode:
    container_name: geth-bootnode-container
    hostname: geth-bootnode
    image: ethereum/client-go:v1.10.1
    env_file:
      - .env
    volumes:
      - ./volumes/bootnode:/root/.ethereum
    command:
      - --nodekeyhex=b0ac22adcad37213c7c565810a50f1772291e7b0ce53fb73e7ec2a3c75bc13b5
      - --nodiscover
      - --ipcdisable
      - --port=30304
      - --networkid=${NETWORK_ID}
    networks:
      default:

  geth-rpc-endpoint:
    container_name: geth-rpc-container
    hostname: geth-rpc-endpoint
    image: ethereum/client-go:v1.10.1
    depends_on:
      - geth-bootnode
    env_file:
      - .env
    volumes:
      - ./volumes/rpc:/root/.ethereum
    command:
      - --bootnodes=enode://af22c29c316ad069cf48a09a4ad5cf04a251b411e45098888d114c6dd7f489a13786620d5953738762afa13711d4ffb3b19aa5de772d8af72f851f7e9c5b164a@geth-bootnode:30304
      - --allow-insecure-unlock
      - --http
      - --http.addr=0.0.0.0
      - --http.port=8555
      - --http.api=eth,web3,net,admin,personal
      - --http.corsdomain=*
      - --ws
      - --ws.addr=0.0.0.0
      - --ws.port=8556
      - --ws.api=eth,web3,net,admin,personal
      - --networkid=${NETWORK_ID}
    ports:
      - "8555:8555"
      - "8556:8556"
    networks:
      default:

  geth-miner:
    container_name: geth-miner-container
    hostname: geth-miner
    image: ethereum/client-go:v1.10.1
    depends_on:
      - geth-bootnode
    env_file:
      - .env
    volumes:
      - ./volumes/miner:/root/.ethereum
    command:
      - --bootnodes=enode://af22c29c316ad069cf48a09a4ad5cf04a251b411e45098888d114c6dd7f489a13786620d5953738762afa13711d4ffb3b19aa5de772d8af72f851f7e9c5b164a@geth-bootnode:30304
      - --mine
      - --miner.threads=1
      - --networkid=${NETWORK_ID}
      - --miner.etherbase=0xd955e631028dcc4b1e3614217b7b719a6f7cd83f
      - --port=30305
    networks:
      default:

networks:
  default:
    name: tfm_network
